@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<section class="showcase">
    <div class="video-container">
        <div class="video">
            <video autoplay loop muted src="../photos/Our-chef-photo/@Model.Slides.ElementAt(5).Image"></video>
        </div>
    </div>
</section>


<div class="container ">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <div>
                <section class="slider-text-area">
                    <div class="slider-text">
                        <h5 data-aos="fade-down">@Model.Slides.ElementAt(5).Saw</h5>
                        <h2 data-aos="fade-down">@Model.Slides.ElementAt(5).RestaurantName</h2>
                        <div class="text-area col-sm-12" data-aos="fade-down">
                            <p>
                                @Model.Slides.ElementAt(5).Description
                            </p>
                        </div>
                        <a href="#" class="btn button" data-aos="fade-down">View menu</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!--about in home start-->
<section class="our-story">
    <div class="container content">
        <div class="row">
            <div class="col-lg-6 col-sm-12 text-left">
                <div class="text-left-up-side">
                    <p>
                        Sweet and tiny like a chocolate
                    </p>
                    <h2>
                        OUR STORY
                    </h2>
                </div>
                <div class="text-left-story">
                    <p>
                        @Model.Abouts.ElementAt(0).Description
                    </p>
                </div>
                <div class="text-left-img">
                    <img src="../photos/Home-photo/image-1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-img">
                <a href="../photos/Home-photo/large-1.jpg" data-aos="fade-left" data-lightbox-anima="fade-in"
                   class="btn btn-sm lightbox" data-options="mainClass:inner" title="Lorem ipsum">
                    <img src="../photos/Home-photo/large-1.jpg" alt="">
                </a>
            </div>
            <hr>
        </div>
    </div>
</section>

<!--menu side start-->
<section class="menu-card">
    <div class="container content">
        <div class="row">
            @foreach (var hm in Model.HomeCards.Take(4))
            {
               
                    <div class="col-md-3 card-of-menu">
                        <div class="general-card">
                            <div class="menu-img">
                                <img src="../photos/Home-photo/@hm.Image" alt="">
                            </div>
                            <a asp-action="Index" asp-controller="Menu" class="menu-text">
                                <h2 class="visible">@hm.Title</h2>
                                <hr class="line">
                                <p class="on-visible-hover">
                                    @hm.Description
                                </p>
                            </a>
                        </div>
                    </div>

            }



        </div>
    </div>
</section>

@*<section class="fast-reservation">
    <div class="container content">
        <div class="row">
            <div class="col-md-4 reservation-left">
                <p>A table only for you</p>
                <div class="reservation-left-down">
                    <h2>
                        Book A Table
                    </h2>
                </div>
            </div>
            <div class="col-md-8 reservation-right">
                <div class="col-sm-4 general-fast-reservation">
                    <label for="number-of-people"><i class="fas fa-user-alt"></i></label>
                    <select name="person" id="number-of-people" class="number-people">
                        <option value="">2 person</option>
                        <option value="">3 person</option>
                        <option value="">4 person</option>
                        <option value="">5 person</option>
                        <option value="">6 person</option>
                        <option value="">7 person</option>
                        <option value="">8 person</option>
                        <option value="">9 person</option>
                        <option value="">10 person</option>
                        <option value="">11 person</option>
                        <option value="">12 person</option>
                        <option value="">13 person</option>
                        <option value="">14 person</option>
                        <option value="">15 person</option>
                        <option value="">16 person</option>
                        <option value="">17 person</option>
                        <option value="">18 person</option>
                        <option value="">19 person</option>
                        <option value="">20 person</option>
                        <option value="">Larger party</option>
                    </select>
                </div>
                <div class="col-sm-4 general-fast-reservation">
                    <label for="date-time"><i class="fas fa-clock"></i></label>
                    <select name="time-date" id="date-time" class="number-people">
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>
                        <option value="">7:30 AM</option>

                    </select>
                </div>
                <div class="col-sm-4 general-fast-reservation">

                    <i class="fas fa-clock"></i>
                    <input type="date" class="number-people">
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="fast-menu">
    <div class="container content">
        <div class="name-of-menu">
            <div class="menu-up">
                <p>
                    Genuine and delicious
                </p>

                <h2>
                    OUR MENU
                </h2>
            </div>

        </div>
        <div class="row">
            <div class="col-md-5 menu-left">
                <div class="list-items">
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 menu-left">
                <div class="list-items">
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row ">
                            <div class="col-md-9 for-hover">
                                <h3>Pizza Margherita</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-md-3 price">
                                <span>15$</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-menu">
            <a href="" class="fast-menu-button">Full Menu</a>
        </div>
    </div>
</section>

<section class="offer">
    <div class="container content">
        <div class="row">

            <div class="col-md-4">
                <div class="icon-img">
                    <a href="" class="img-offer">
                        <img src="../photos/Home-photo/offer-image-1.jpg" alt="">
                    </a>
                    <div class="card-about">
                        <div class="type-of-food">
                            <p>Dolomiti</p>
                        </div>
                        <div class="food-about-up">
                            <h3>
                                <a href="">
                                    Rice with wild boar liver and cutted cheese from Texas
                                </a>
                            </h3>
                        </div>
                        <div class="food-about-down">
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugaurus expedita fusce
                                temporibus malesio.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icon-img">
                    <a href="" class="img-offer">
                        <img src="../photos/Home-photo/offer-image-2.jpg" alt="">
                    </a>
                    <div class="card-about">
                        <div class="type-of-food">
                            <p>Dolomiti</p>
                        </div>
                        <div class="food-about-up">
                            <h3>
                                <a href="">
                                    Rice with wild boar liver and cutted cheese from Texas
                                </a>
                            </h3>
                        </div>
                        <div class="food-about-down">
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugaurus expedita fusce
                                temporibus malesio.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icon-img">
                    <a href="" class="img-offer">
                        <img src="../photos/Home-photo/offer-image-3.jpg" alt="">
                    </a>
                    <div class="card-about">
                        <div class="type-of-food">
                            <p>Dolomiti</p>
                        </div>
                        <div class="food-about-up">
                            <h3>
                                <a href="">
                                    Rice with wild boar liver and cutted cheese from Texas
                                </a>
                            </h3>
                        </div>
                        <div class="food-about-down">
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugaurus expedita fusce
                                temporibus malesio.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-4">
                <div class="icon-img">
                    <a href="" class="img-offer">
                        <img src="../photos/Home-photo/offer-image-4.jpg" alt="">
                    </a>
                    <div class="card-about">
                        <div class="type-of-food">
                            <p>Dolomiti</p>
                        </div>
                        <div class="food-about-up">
                            <h3>
                                <a href="">
                                    Rice with wild boar liver and cutted cheese from Texas
                                </a>
                            </h3>
                        </div>
                        <div class="food-about-down">
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugaurus expedita fusce
                                temporibus malesio.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icon-img">
                    <a href="" class="img-offer">
                        <img src="../photos/Home-photo/offer-image-5.jpg" alt="">
                    </a>
                    <div class="card-about">
                        <div class="type-of-food">
                            <p>Dolomiti</p>
                        </div>
                        <div class="food-about-up">
                            <h3>
                                <a href="">
                                    Rice with wild boar liver and cutted cheese from Texas
                                </a>
                            </h3>
                        </div>
                        <div class="food-about-down">
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugaurus expedita fusce
                                temporibus malesio.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="icon-img">
                    <a href="" class="img-offer">
                        <img src="../photos/Home-photo/offer-image-6.jpg" alt="">
                    </a>
                    <div class="card-about">
                        <div class="type-of-food">
                            <p>Dolomiti</p>
                        </div>
                        <div class="food-about-up">
                            <h3>
                                <a href="">
                                    Rice with wild boar liver and cutted cheese from Texas
                                </a>
                            </h3>
                        </div>
                        <div class="food-about-down">
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugaurus expedita fusce
                                temporibus malesio.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="our-chef">
    <div class="container content">
        <div class="row" style="margin-right: 30px; margin-left: 30px;">
            <div class="col-md-6 chef-photo">
                <img src="../photos/Home-photo/chefs-2.png" alt="chefs">
            </div>
            <div class="col-md-6">
                <div class="chefs-about">
                    <div class="chef-up">
                        <p>Starred Michelin chiefs</p>
                        <h2>OUR CHEFS</h2>
                    </div>
                    <div class="chef-down">
                        <p>

                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                            iaculis eu lacus nunc mit amet consectetur adipiscing elitsed do eiusmod tempor elit
                            vehicula. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                            incididunt utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </p>
                    </div>
                    <div class="chef-button">
                        <a href="">Our Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="open-times">
    <div class="container content">
        <div class="row">
            <div class="col-md-1 clock">
                <img src="../photos/Home-photo/clock-gif.gif" alt="">
            </div>
            <div class="col-md-2 time-text">
                <p>Our open schedules</p>
                <h2>HOURS</h2>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 text-center open-times-table">
                <table class="table table-hover">
                    <thead>
                        <tr class="col-md-12">
                            <th>Day</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thurdsay</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody class="col-md-12">
                        <tr>
                            <th>Lunch</th>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                            <td>11am - 15pm</td>
                        </tr>
                        <tr>
                            <th>Dinner</th>
                            <td>Closed</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                            <td>18pm - 23pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

